<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2 style="text-align: center; margin-bottom:0px"> {{slug2}} </h2>
	<h3 style="text-align: center; margin-bottom:0px"> {{slug}} </h3>
	<div style="text-align: center;">
	<img src="data:image/png;base64,{{ data }}" height="500", >
	<img src="data:image/png;base64,{{ url2 }}" height="500", width="700">
	<img src="data:image/png;base64,{{ prg_url }}" height="500", width="500">
	
	<br>

	<h3> Total Questions attempted: {{count}}, &nbsp Accepted: {{yes}} </h3>
	Before editorial T.time : {{be}}  &nbsp;&nbsp;&nbsp;&nbsp; Avg time: {{be_av}} &nbsp;&nbsp;&nbsp;&nbsp;  Count: {{be_count}}<br>
	After editorial T.time : {{ae}}   &nbsp;&nbsp;&nbsp;&nbsp;Avg time: {{ae_av}}  &nbsp;&nbsp;&nbsp;&nbsp; Count: {{ae_count}}<br>
	<br>
	 o(1) {{ com1 }}
	 <br>
	 o(logn) {{com_lg}}
	 <br>
	 o(n) {{com_n}}
	 <br>
	 o(n2) {{com_n2}}
	 <br>
	 o(high) {{com_high}}
	 <br>

	</div>

</body>
</html>